.a{
    height: 1000px;
    width: 1510px;
    background-color: white;
    float: left;
}
.b{
    height: 600px;
    width: 500px;
    background-color: aqua;
    float: left;
    position: relative;
    left: 200px;
}
.c{
    height: 600px;
    width: 700px;
    background-color: pink;
    float: left;
    position: relative;
    left: 200px;
}
.d{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    position: relative;
    top:-10px;
    left: 300px;
}
.e{
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    position: relative;
    top: -25px;
    left: 300px;
}
.f{
    height: 400px;
    width: 300px;
    background-color: pink;
    float: left;
    position: relative;
    top: 30px;
    left: 90px;
}
.g{
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    position: relative;
    top: 410px;
    left: -210px;
}
.h{
    font-size: 10px;
    font-style: italic;
    color: black;
    position: relative;
    top: 390px;
    left: -210px;
}
.i{
    height: 30px;
    width: 250px;
    border: 1px solid rgb(92, 123, 213);
    position: relative;
    top: 50px;
    left: 50px;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.j{
    height: 30px;
    width: 525px;
    background-color: transparent;
    border: 1px solid rgb(92, 123, 213);
    position: relative;
    top: 80px;
    left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    text-align: center;
}
.k{
    height: 30px;
    width: 525px;
    background-color: transparent;
    border: 1px solid rgb(92, 123, 213);
    position: relative;
    top: 110px;
    left: 67px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    text-align: center;
}