.a{
    height: 100px;
    width: 100px;
    opacity: 0.5;
    position: relative;
    left: 300px;
    top: 20px;
    z-index: 1;
}
.b{
    height: 50px;
    width: 105%;
    position: relative;
    top: 4px;
    left: -12px;
    background-color: blue;
    opacity: 0.3;
}